html {
    width: 100%;
    height: 100%;
    overflow: auto;
    overscroll-behavior: none;
    user-zoom: fixed;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    display: grid;
    grid-template-rows: 60px calc(100% - 60px);
    grid-template-areas:
        "menu"
        "body";
    overflow: auto;
    width: 100%;
    height: 100%;
    margin: 0;
    user-select: none;
    background-color: #e3e3e5;
}

#app-body {
    grid-area: body;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 80px auto 260px;
    grid-template-areas:
        "toolbar canvas infopanel";
}

/*************** Menu ***************/

#menu {
    position: relative;
    box-sizing: border-box;
    grid-area: menu;
    height: 60px;
    background-color: #313337;
    border-bottom: 1px solid #424347;
    -webkit-box-shadow: 0px 4px 11px 0px rgba(61, 61, 61, 0.75);
    -moz-box-shadow: 0px 4px 11px 0px rgba(61, 61, 61, 0.75);
    box-shadow: 0px 4px 11px 0px rgba(61, 61, 61, 0.75);
}

#menu #app-title {
    width: 100%;
    min-width: 100%;
    display: flex;
    align-content: center;
    justify-content: center;
    color: white;
    font-size: 60px;
}

#menu #room-id {
    position: absolute;
    right: 0px;
    top: 0px;

    display: flex;
    align-content: center;
    justify-content: center;

    color: #b9b9b9;
    font-size: 40px;
}

/*************** Toolbar ***************/

#toolbar {
    grid-area: toolbar;
    display: flex;
    flex-direction: column;
    align-content: center;
    width: 80px;
    background-color: #2F3034;
}

#toolbar button {
    background-color: #2F3034;
    width: 70px;
    height: 70px;
    background-repeat: no-repeat;
    background-size: 140px 70px;
    background-position: 0px 0px;
    border: none;
    padding: 0;
    margin: 0;
    margin-right: auto;
    margin-left: auto;
}

#toolbar button:focus {
    outline:0;
}


#toolbar button.selected {
    background-position: -70px 0;
}

#toolbar #freeform-button {
    background-image: url("../img/pen.svg");
}

#toolbar #select-button {
    background-image: url("../img/select.svg");
}

/*************** Canvas ***************/

#canvas {
    grid-area: canvas;
    width: 100%;
    height: 100%;
}

#canvas svg {
    width: 100%;
    height: 100%;
}

#canvas svg path {
    stroke-linecap: round;
    stroke-linejoin: round;
}

#canvas .shape {
    filter: none;
}

#canvas .shape.selected {
    filter: url(#red-outline);
}

#canvas path.in-creation {
    fill: none;
    stroke: black;
    stroke-width: 2px;
}

/*************** Info Panel ***************/

#info-panel {
    grid-area: infopanel;
    width: 260px;
    background-color: #333437;
}

/*************** Login Pop up *************/

#login-popup {
    position: absolute;
    width: 100%;
    height: 100%;

    background-color: black;
    opacity: 0.75;
}

#login-popup div {
    position: absolute;
    margin: auto;
    top: 25%;
    left: 0px;
    right: 0px;
    width: 450px;
    height: 300px;
    background-color: white;
    border-radius: 5px;
}